body{
    background-color: black;
}

h2{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 40px;
    color: cornsilk;
}
span{
    color:black;
}
.round{
    border-radius: 20px;
    background-color: antiquewhite;
}
.round2{
    border-radius: 20px;
}
