body{
    background-color: black;
}

h2{
    font-family: fantasy;
    font-weight: 900;
    font-size: 50px;
    color: cornsilk;
}
span{
    color:black;
}
.round{
    border-radius: 20px;
    background-color: antiquewhite;
}
.round2{
    border-radius: 20px;
}
